#header
    overflow: hidden
    background: white
    height: 50px
    img
        width: 50px
        height: 100%
        display: block
        float: left

    input[type=text]
        text-align: center
        width: 200px
        height: 20px
        margin-top: 13px
        margin-left: 40%
        border: none
        border-radius: 10px

    #coffe
        margin-left: 15px
        width: 50px
        height: 30px
        color: grey
        float: right
        margin-top: 9px



@media screen and (max-width: 700px)
    input[type=text]
        width: 100px !important
        margin-left: 35% !important
        
@media screen and (min-width: 1200px)
    input[type=text]
        width: 270px !important

@media screen and (max-width: 1400px)
    input[type=text]
        margin-left: 37% !important


@media screen and (max-width: 400px)
    input[type=text]
        width: 100px !important
        margin-left: 24% !important