$iconsColor: #62d7f6
$iconsColorHover: #368296

@media screen and (min-width: 550px)
    #header
        input[type=text]
            width: 35% !important

@media screen and (max-width: 1025px)
    #header
        .menu
            display: block !important

        .visible
            display: none
        #logIn
            margin-top: 16px !important

@media screen and (max-width: 1200px)
    #header
        #logIn
            margin-top: 16px !important

#header
    overflow: hidden
    height: 50px
    background: #100f35

    #logIn
        color: white
        float: right
        margin-top: 20px
    #logIn:hover
        color: #acacac
        
    img
        width: 50px
        height: 40px
        display: block
        float: left
        margin-top: 5px

    input[type=text]
        width: 40%
        height: 20px
        margin-top: 13px
        border: 1px solid #62d7f6
        padding-left: 8px
        border-radius: 9px
        margin-right: auto
        margin-left: auto
        display: flex
        transition: 0.8s

    input[type=text]:hover,
    input[type=text]:focus
        border: 3px solid #62d7f6

    .icons
        cursor: pointer
        margin-left: 1%
        width: 45px
        height: 21px
        color: $iconsColor
        float: right
        margin-top: 14px
        transition: 0.4s

    .icons:hover
        color: $iconsColorHover

    .menu
        display: none
        margin-left: 0 !important
        margin-right: 0.5%

    .iconlogIn
        margin-left: 0 !important

    

#menu

    display: flex
    align-items: end
    justify-content: flex-end

    #move
        position: absolute
        margin-top: 50px
        background: #100f35
        transition: 1s
        animation: menu-deslisable 0.4s linear
        border-radius: 1px 0px 30px 30px
        width: 50px
        height: 200px

    .iconMenu
        cursor: pointer
        margin-top: 20px
        margin-left: 4px
        width: 45px
        height: 21px
        color: $iconsColor
        transition: 0.4s
        animation: icons 1s linear
        opacity: 1

    .iconMenu:hover
        color: $iconsColorHover

@media (prefers-reduced-motion: no-preference)
    #logo
        animation: App-logo-spin infinite 20s linear

@keyframes App-logo-spin
    from
        transform: rotate(0deg)

    to
        transform: rotate(360deg)

@keyframes menu-deslisable
    from
        height: 0

    to
        height: 200px

@keyframes icons
    from
        opacity: 0

    to
        opacity: 1

.login
        height: 250px !important

@media screen and (min-width: 1200px)
    #header
        height: 60px

        input[type=text]
            width: 18% !important
            margin-left: 40.7% !important
            margin-top: 17px !important

        .icons
            margin-top: 19px !important

        .iconlogIn
            margin-right: 20px !important

        img
            margin-top: 8px !important